Pro/EastElite/Service References/EastEliteICMSWS/EastEliteICMSWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eastelite.com.cn/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://eastelite.com.cn/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eastelite.com.cn/webservices/">
      <s:element name="CheckUserLoginInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginInfoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserLoginInfoItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDictList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rootCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDictListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDictListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByCustomerCardSN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByCustomerCardSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentDataByCustomerCardSNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByDiningCardCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByDiningCardCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentDataByDiningCardCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByCustomerCardSN2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schoolCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByCustomerCardSN2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentDataByCustomerCardSN2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByDiningCardCode2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schoolCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentDataByDiningCardCode2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentDataByDiningCardCode2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitLeaveApplyItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitLeaveApplyItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertDIPCISClientInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="campusTypeID" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="clientTypeID" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="classTypeID" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isValid" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="handledID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDIPCISClientInfoItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDIPCISClientInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="campusTypeID" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="clientTypeID" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="classTypeID" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isValid" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="handledID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDIPCISClientInfoItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDIPCISClientInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDIPCISClientInfoItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDIPCISClientList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="condition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIPCISClientListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDIPCISClientListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDIPCISRecordInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientIPs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="displayModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="handledID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDIPCISRecordInfoItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDIPCISRecordInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDIPCISRecordInfoItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDIPCISRecordList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="handledID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIPCISRecordListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDIPCISRecordListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginDeviceItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginDeviceItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserLoginDeviceItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginTokenItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="ts" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginTokenItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserLoginTokenItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLessonWeekInfoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="classCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLessonWeekInfoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLessonWeekInfoListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClassPushID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pushID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClassPushIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetECCDeviceClassItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="classCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCDeviceClassItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECCDeviceClassItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminCardByRoleCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roleCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminCardByRoleCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdminCardByRoleCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserICCardRecordInfoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deviceRecordID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceJPushID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="icCardSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photoUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="icCardTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserICCardRecordInfoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUserICCardRecordInfoItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCDeviceClassList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rootCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCDeviceClassListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECCDeviceClassListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCUserClassList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rootCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gradeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCUserClassListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECCUserClassListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCUserRoleInfoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rootCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECCUserRoleInfoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECCUserRoleInfoListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginBookItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginBookItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserLoginBookItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByCustomerCardSN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardSN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByCustomerCardSNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataByCustomerCardSNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByDiningCardCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByDiningCardCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataByDiningCardCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByUserCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userType" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDataByUserCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDataByUserCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDiningCardDataList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDiningCardDataListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDiningCardDataListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckUserLoginInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserLoginInfoItem" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserLoginInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetDictListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDictList" />
  </wsdl:message>
  <wsdl:message name="GetDictListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDictListResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByCustomerCardSNSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentDataByCustomerCardSN" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByCustomerCardSNSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentDataByCustomerCardSNResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByDiningCardCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentDataByDiningCardCode" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByDiningCardCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentDataByDiningCardCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByCustomerCardSN2SoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentDataByCustomerCardSN2" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByCustomerCardSN2SoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentDataByCustomerCardSN2Response" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByDiningCardCode2SoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentDataByDiningCardCode2" />
  </wsdl:message>
  <wsdl:message name="GetStudentDataByDiningCardCode2SoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentDataByDiningCardCode2Response" />
  </wsdl:message>
  <wsdl:message name="SubmitLeaveApplyItemSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitLeaveApplyItem" />
  </wsdl:message>
  <wsdl:message name="SubmitLeaveApplyItemSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitLeaveApplyItemResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDIPCISClientInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDIPCISClientInfoItem" />
  </wsdl:message>
  <wsdl:message name="InsertDIPCISClientInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDIPCISClientInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDIPCISClientInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDIPCISClientInfoItem" />
  </wsdl:message>
  <wsdl:message name="UpdateDIPCISClientInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDIPCISClientInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDIPCISClientInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDIPCISClientInfoItem" />
  </wsdl:message>
  <wsdl:message name="DeleteDIPCISClientInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDIPCISClientInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetDIPCISClientListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDIPCISClientList" />
  </wsdl:message>
  <wsdl:message name="GetDIPCISClientListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDIPCISClientListResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDIPCISRecordInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDIPCISRecordInfoItem" />
  </wsdl:message>
  <wsdl:message name="InsertDIPCISRecordInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDIPCISRecordInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDIPCISRecordInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDIPCISRecordInfoItem" />
  </wsdl:message>
  <wsdl:message name="DeleteDIPCISRecordInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDIPCISRecordInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetDIPCISRecordListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDIPCISRecordList" />
  </wsdl:message>
  <wsdl:message name="GetDIPCISRecordListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDIPCISRecordListResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginDeviceItemSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserLoginDeviceItem" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginDeviceItemSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserLoginDeviceItemResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginTokenItemSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserLoginTokenItem" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginTokenItemSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserLoginTokenItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetLessonWeekInfoListSoapIn">
    <wsdl:part name="parameters" element="tns:GetLessonWeekInfoList" />
  </wsdl:message>
  <wsdl:message name="GetLessonWeekInfoListSoapOut">
    <wsdl:part name="parameters" element="tns:GetLessonWeekInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClassPushIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClassPushID" />
  </wsdl:message>
  <wsdl:message name="UpdateClassPushIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClassPushIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetECCDeviceClassItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetECCDeviceClassItem" />
  </wsdl:message>
  <wsdl:message name="GetECCDeviceClassItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetECCDeviceClassItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdminCardByRoleCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminCardByRoleCode" />
  </wsdl:message>
  <wsdl:message name="GetAdminCardByRoleCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminCardByRoleCodeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserICCardRecordInfoItemSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUserICCardRecordInfoItem" />
  </wsdl:message>
  <wsdl:message name="InsertUserICCardRecordInfoItemSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserICCardRecordInfoItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetECCDeviceClassListSoapIn">
    <wsdl:part name="parameters" element="tns:GetECCDeviceClassList" />
  </wsdl:message>
  <wsdl:message name="GetECCDeviceClassListSoapOut">
    <wsdl:part name="parameters" element="tns:GetECCDeviceClassListResponse" />
  </wsdl:message>
  <wsdl:message name="GetECCUserClassListSoapIn">
    <wsdl:part name="parameters" element="tns:GetECCUserClassList" />
  </wsdl:message>
  <wsdl:message name="GetECCUserClassListSoapOut">
    <wsdl:part name="parameters" element="tns:GetECCUserClassListResponse" />
  </wsdl:message>
  <wsdl:message name="GetECCUserRoleInfoListSoapIn">
    <wsdl:part name="parameters" element="tns:GetECCUserRoleInfoList" />
  </wsdl:message>
  <wsdl:message name="GetECCUserRoleInfoListSoapOut">
    <wsdl:part name="parameters" element="tns:GetECCUserRoleInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginBookItemSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserLoginBookItem" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginBookItemSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserLoginBookItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByCustomerCardSNSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDataByCustomerCardSN" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByCustomerCardSNSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataByCustomerCardSNResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByDiningCardCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDataByDiningCardCode" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByDiningCardCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataByDiningCardCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByUserCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDataByUserCode" />
  </wsdl:message>
  <wsdl:message name="GetUserDataByUserCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDataByUserCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDiningCardDataListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDiningCardDataList" />
  </wsdl:message>
  <wsdl:message name="GetUserDiningCardDataListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDiningCardDataListResponse" />
  </wsdl:message>
  <wsdl:portType name="EastEliteICMSWSSoap">
    <wsdl:operation name="CheckUserLoginInfoItem">
      <wsdl:input message="tns:CheckUserLoginInfoItemSoapIn" />
      <wsdl:output message="tns:CheckUserLoginInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDictList">
      <wsdl:input message="tns:GetDictListSoapIn" />
      <wsdl:output message="tns:GetDictListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByCustomerCardSN">
      <wsdl:input message="tns:GetStudentDataByCustomerCardSNSoapIn" />
      <wsdl:output message="tns:GetStudentDataByCustomerCardSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByDiningCardCode">
      <wsdl:input message="tns:GetStudentDataByDiningCardCodeSoapIn" />
      <wsdl:output message="tns:GetStudentDataByDiningCardCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByCustomerCardSN2">
      <wsdl:input message="tns:GetStudentDataByCustomerCardSN2SoapIn" />
      <wsdl:output message="tns:GetStudentDataByCustomerCardSN2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByDiningCardCode2">
      <wsdl:input message="tns:GetStudentDataByDiningCardCode2SoapIn" />
      <wsdl:output message="tns:GetStudentDataByDiningCardCode2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLeaveApplyItem">
      <wsdl:input message="tns:SubmitLeaveApplyItemSoapIn" />
      <wsdl:output message="tns:SubmitLeaveApplyItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDIPCISClientInfoItem">
      <wsdl:input message="tns:InsertDIPCISClientInfoItemSoapIn" />
      <wsdl:output message="tns:InsertDIPCISClientInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDIPCISClientInfoItem">
      <wsdl:input message="tns:UpdateDIPCISClientInfoItemSoapIn" />
      <wsdl:output message="tns:UpdateDIPCISClientInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDIPCISClientInfoItem">
      <wsdl:input message="tns:DeleteDIPCISClientInfoItemSoapIn" />
      <wsdl:output message="tns:DeleteDIPCISClientInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDIPCISClientList">
      <wsdl:input message="tns:GetDIPCISClientListSoapIn" />
      <wsdl:output message="tns:GetDIPCISClientListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDIPCISRecordInfoItem">
      <wsdl:input message="tns:InsertDIPCISRecordInfoItemSoapIn" />
      <wsdl:output message="tns:InsertDIPCISRecordInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDIPCISRecordInfoItem">
      <wsdl:input message="tns:DeleteDIPCISRecordInfoItemSoapIn" />
      <wsdl:output message="tns:DeleteDIPCISRecordInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDIPCISRecordList">
      <wsdl:input message="tns:GetDIPCISRecordListSoapIn" />
      <wsdl:output message="tns:GetDIPCISRecordListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginDeviceItem">
      <wsdl:input message="tns:CheckUserLoginDeviceItemSoapIn" />
      <wsdl:output message="tns:CheckUserLoginDeviceItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginTokenItem">
      <wsdl:input message="tns:CheckUserLoginTokenItemSoapIn" />
      <wsdl:output message="tns:CheckUserLoginTokenItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLessonWeekInfoList">
      <wsdl:input message="tns:GetLessonWeekInfoListSoapIn" />
      <wsdl:output message="tns:GetLessonWeekInfoListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClassPushID">
      <wsdl:input message="tns:UpdateClassPushIDSoapIn" />
      <wsdl:output message="tns:UpdateClassPushIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECCDeviceClassItem">
      <wsdl:input message="tns:GetECCDeviceClassItemSoapIn" />
      <wsdl:output message="tns:GetECCDeviceClassItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminCardByRoleCode">
      <wsdl:input message="tns:GetAdminCardByRoleCodeSoapIn" />
      <wsdl:output message="tns:GetAdminCardByRoleCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserICCardRecordInfoItem">
      <wsdl:input message="tns:InsertUserICCardRecordInfoItemSoapIn" />
      <wsdl:output message="tns:InsertUserICCardRecordInfoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECCDeviceClassList">
      <wsdl:input message="tns:GetECCDeviceClassListSoapIn" />
      <wsdl:output message="tns:GetECCDeviceClassListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECCUserClassList">
      <wsdl:input message="tns:GetECCUserClassListSoapIn" />
      <wsdl:output message="tns:GetECCUserClassListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECCUserRoleInfoList">
      <wsdl:input message="tns:GetECCUserRoleInfoListSoapIn" />
      <wsdl:output message="tns:GetECCUserRoleInfoListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginBookItem">
      <wsdl:input message="tns:CheckUserLoginBookItemSoapIn" />
      <wsdl:output message="tns:CheckUserLoginBookItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByCustomerCardSN">
      <wsdl:input message="tns:GetUserDataByCustomerCardSNSoapIn" />
      <wsdl:output message="tns:GetUserDataByCustomerCardSNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByDiningCardCode">
      <wsdl:input message="tns:GetUserDataByDiningCardCodeSoapIn" />
      <wsdl:output message="tns:GetUserDataByDiningCardCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByUserCode">
      <wsdl:input message="tns:GetUserDataByUserCodeSoapIn" />
      <wsdl:output message="tns:GetUserDataByUserCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDiningCardDataList">
      <wsdl:input message="tns:GetUserDiningCardDataListSoapIn" />
      <wsdl:output message="tns:GetUserDiningCardDataListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EastEliteICMSWSSoap" type="tns:EastEliteICMSWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUserLoginInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetDictList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByCustomerCardSN">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByCustomerCardSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByDiningCardCode">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByDiningCardCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByCustomerCardSN2">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByCustomerCardSN2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByDiningCardCode2">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByDiningCardCode2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLeaveApplyItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/SubmitLeaveApplyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDIPCISClientInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/InsertDIPCISClientInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDIPCISClientInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/UpdateDIPCISClientInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDIPCISClientInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/DeleteDIPCISClientInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIPCISClientList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetDIPCISClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDIPCISRecordInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/InsertDIPCISRecordInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDIPCISRecordInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/DeleteDIPCISRecordInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIPCISRecordList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetDIPCISRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginDeviceItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginDeviceItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginTokenItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginTokenItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonWeekInfoList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetLessonWeekInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClassPushID">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/UpdateClassPushID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCDeviceClassItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetECCDeviceClassItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminCardByRoleCode">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetAdminCardByRoleCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserICCardRecordInfoItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/InsertUserICCardRecordInfoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCDeviceClassList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetECCDeviceClassList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCUserClassList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetECCUserClassList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCUserRoleInfoList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetECCUserRoleInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginBookItem">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginBookItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByCustomerCardSN">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetUserDataByCustomerCardSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByDiningCardCode">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetUserDataByDiningCardCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByUserCode">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetUserDataByUserCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDiningCardDataList">
      <soap:operation soapAction="http://eastelite.com.cn/webservices/GetUserDiningCardDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EastEliteICMSWSSoap12" type="tns:EastEliteICMSWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUserLoginInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDictList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetDictList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByCustomerCardSN">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByCustomerCardSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByDiningCardCode">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByDiningCardCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByCustomerCardSN2">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByCustomerCardSN2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDataByDiningCardCode2">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetStudentDataByDiningCardCode2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLeaveApplyItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/SubmitLeaveApplyItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDIPCISClientInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/InsertDIPCISClientInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDIPCISClientInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/UpdateDIPCISClientInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDIPCISClientInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/DeleteDIPCISClientInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIPCISClientList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetDIPCISClientList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDIPCISRecordInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/InsertDIPCISRecordInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDIPCISRecordInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/DeleteDIPCISRecordInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIPCISRecordList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetDIPCISRecordList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginDeviceItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginDeviceItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginTokenItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginTokenItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonWeekInfoList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetLessonWeekInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClassPushID">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/UpdateClassPushID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCDeviceClassItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetECCDeviceClassItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminCardByRoleCode">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetAdminCardByRoleCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserICCardRecordInfoItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/InsertUserICCardRecordInfoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCDeviceClassList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetECCDeviceClassList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCUserClassList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetECCUserClassList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECCUserRoleInfoList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetECCUserRoleInfoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserLoginBookItem">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/CheckUserLoginBookItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByCustomerCardSN">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetUserDataByCustomerCardSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByDiningCardCode">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetUserDataByDiningCardCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByUserCode">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetUserDataByUserCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDiningCardDataList">
      <soap12:operation soapAction="http://eastelite.com.cn/webservices/GetUserDiningCardDataList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EastEliteICMSWS">
    <wsdl:port name="EastEliteICMSWSSoap" binding="tns:EastEliteICMSWSSoap">
      <soap:address location="http://sms.zhengzhong.cn/EastEliteICMSWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EastEliteICMSWSSoap12" binding="tns:EastEliteICMSWSSoap12">
      <soap12:address location="http://sms.zhengzhong.cn/EastEliteICMSWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>